@charset "UTF-8";
@import url("https://use.typekit.net/hkx4eig.css");
body {
  background-color: #37373A;
  color: white;
  font-size: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

html, div {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Noto Sans", "Noto Sans JP", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
  line-height: 20px;
}

.container--about, .container {
  width: min(92%, 1200px);
  margin: auto;
}

.material-icons {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

.section-container {
  padding-top: 24px;
  overflow-x: hidden;
}

.section-top {
  position: relative;
  scroll-snap-align: start;
  min-height: 100vh;
  padding: 54px 0;
}
.section-top__heading {
  padding-top: 54px;
  margin-top: -24px;
}

.heading, .heading--sub, .section-top__heading {
  font-family: transat-text, mr-eaves-modern, poppins, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-weight: normal;
}
.heading--sub {
  font-size: 22px;
  font-weight: normal;
}

.container--about {
  display: flex;
  justify-content: space-around;
}

/* button */
.btn {
  cursor: pointer;
}
.btn--text {
  cursor: pointer;
}
.btn--text span {
  margin-right: 4px;
}
.btn--text .material-icons {
  font-size: 16px;
  padding-bottom: 4px;
}

/* each work page */
.section-container--work-item {
  font-size: 14px;
  padding: 54px 0;
}
.section-container--work-item p {
  margin: 1rem auto;
}
.section-container--work-item h1 {
  text-align: center;
}
.section-container--work-item h3 {
  color: #BBBBBB;
  margin-bottom: 1rem;
}

.container-btns {
  text-align: center;
  position: relative;
  margin-top: clamp(60px, 6vw, 90px);
}
.container-btns__home {
  display: inline-block;
  margin: 0 auto;
}

.section--imgtext {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: clamp(45px, 6vw, 80px);
  padding-left: clamp(40px, 6vw, 80px);
}
.section--imgtext__img {
  flex: 1;
}
.section--imgtext__text {
  flex: 1;
}
.section--imgtext h3 {
  padding-top: 1rem;
}

.section--slide {
  margin: clamp(60px, 6vw, 90px) 0;
  overflow-x: hidden;
  position: relative;
}
.section--slide__heading {
  justify-content: center;
  margin-bottom: 24px;
}
.section--slide__navigation--process {
  height: 32px;
  max-width: 32px;
  width: 100%;
  margin: 0 auto;
  background: url("../img/spritesheet.png") no-repeat;
  position: relative;
  background-position: 0 50%;
}
.section--slide__navigation--process img {
  position: absolute;
}
.section--slide a {
  color: #BBBBBB;
}
.section--slide .material-icons {
  transition: all 0.3s;
}
.section--slide .material-icons:hover {
  color: #FFE799;
  transform: translateX(3px);
}
.section--slide .material-icons:hover.material-icons.back {
  transform: translateX(-3px);
}

/* slider */
/* 1つ目のスライドは表示 */
.s1 {
  transform: translateX(0);
}

/* post script */
.section--post-script__sub-title {
  font-size: 20px;
}
.section--post-script p {
  text-align: center;
  font-weight: 200;
}

/* page transition */
.page-enter-from, .page-leave-to {
  opacity: 0;
}

.page-enter-active, .page-leave-active {
  transition: all 0.3s ease-out;
}
/*# sourceMappingURL=main.css.map */