// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;700&display=swap');
@import url("https://use.typekit.net/hkx4eig.css");

$bg-black: #37373A;
$bg-gray: #515457;
$accent: #FFE799;
$secondary: #BBBBBB;
$main: white;
$v-space: clamp(60px, 6vw, 90px);
$font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Noto Sans","Noto Sans JP", "Noto Sans Japanese",  "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$v-margin-16: 1rem;
$header-height: 24px;
$section-padding: 30px ;

body {
    background-color: $bg-black;
    color: $main;
    font-size: 16px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

html, div {
    font-family: $font-family;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $main;
    line-height: 20px;
}

%container {
    width: min(92%, 1200px);
    margin: auto;
}
.material-icons {
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
}


.section-container {
    // header height
    padding-top: $header-height;
    overflow-x: hidden;
}

%flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-top {
    position: relative;
    scroll-snap-align: start;
    min-height: 100vh;
    padding: $section-padding + $header-height 0;
    // display: grid;
    
    &__heading {
        padding-top: $section-padding + $header-height;
        margin-top: -$header-height;
        // padding-bottom: $v-space;
        @extend .heading
    }
}

.heading {
    font-family:  transat-text, mr-eaves-modern, poppins,"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
    font-size: 32px;
    font-style: normal;
    text-align: center;
    font-weight: normal;
    
    &--sub {
        @extend .heading;
        font-size: 22px;
        font-weight: normal;
    }
}

.container {
    @extend %container;

    &--about {
        @extend %container;
        display: flex;
        justify-content: space-around;
    }
}

/* button */

.btn {
    cursor: pointer;
    // icon+テキスト付きボタン
    &--text {
        cursor: pointer;
        & span {
            margin-right: 4px;
        }
        & .material-icons {
            font-size: 16px;
            padding-bottom: 4px;
        }
    }
}

/* each work page */

.section-container--work-item {
    // @extend %container;
    font-size: 14px;
    padding: $section-padding + $header-height 0;

    & p {
        margin: $v-margin-16 auto;
    }
    & h1 {
        text-align: center;
    }
    & h3 {
        color: $secondary;
        margin-bottom: $v-margin-16;
    }
}

// 一番下のナビゲーションボタン
.container-btns {
    text-align: center;
    position: relative;
    margin-top: clamp(60px, 6vw, 90px);
    
    &__home {
        display: inline-block;
        margin: 0 auto;
    }
}
// background & top image
.section--imgtext {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: clamp(45px, 6vw, 80px);
    padding-left: clamp(40px, 6vw, 80px);
    
    &__img {
        flex: 1;
    }
    &__text {
        flex: 1;
    }

    & h3 {
        padding-top: $v-margin-16;
    }
}

// スライドセクション
.section--slide {
    margin: $v-space 0;
    overflow-x: hidden;
    // height: 100vh;
    position: relative;
    
    &__heading {
        justify-content: center;
        margin-bottom: 24px;
    }
    &__navigation--process {
        height: 32px;
        max-width: 32px;
        width: 100%;
        margin: 0 auto;
        background: url("../img/spritesheet.png") no-repeat;
        position: relative;
        background-position: 0 50%;

        & img {
            position: absolute;
        }
    }
    & a {
        color: $secondary;
    }

    & .material-icons {
        transition: all 0.3s;

        &:hover {
            color: $accent;
            transform: translateX(3px);
        }

        &:hover.material-icons.back {
            transform: translateX(-3px);
        }
    }
}

/* slider */
%slider-wrapper {
    position: relative;
    width: 100%;
    height: clamp(600px, 50vw, 670px);
    overflow-x: hidden;
}
%slider-buttons {
    position: absolute;
    z-index: 150;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    
    & button {
        width: 40px;
        cursor: pointer;
    }

}
/* 1つ目のスライドは表示 */
.s1 {
    transform: translateX(0);
}

/* post script */
.section--post-script {
    &__sub-title {
        font-size: 20px;
    }
    & p {
        text-align: center;
        font-weight: 200;
    }
}

/* page transition */
.page-enter-from, .page-leave-to {
    opacity: 0;
}
.page-enter-active, .page-leave-active {
    transition: all 0.3s ease-out;
}

@media (max-width: 744px) {

}